.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fe142f;
  color: #fff;
  border-radius: 7px;
  border: 0;

  &--modal {
    margin: 0;
    margin-top: 7.1vh;
    padding: 2em;
    padding: 0.75rem 2.5rem;
    font-size: 1.4rem;
    outline: none;
    text-transform: capitalize;
  }

  &--submit {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 12px 82px;
    @include mobile-only{
      padding: 6px 22px;
    }
   
  }

  &--close{
    position: absolute;
    padding: 12px 82px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 400;
  }

  &:hover {
    cursor: pointer;
    background: #3876ac;
  }
}


.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  z-index: 10;
}

.close:before,
.close:after {
  content: " ";
  position: absolute;
  left: 15px;
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}