
:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  $color-primary: red;
  $color-secondary:#279e7a;
  $font-color-primary: black;
  $font-color-secondary: white;
  $bg-color:#232323;
  
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: var(--font-default);
    font-size: 18px;
  }
  
  p {
    margin-bottom: 0;
    padding: 0.5vw;
  }
  
  img {
    padding-right: 1rem;
  }
  
  
  
  main {
    padding-top: 0.5vw;
    padding-left: 3.5%;
    padding-right: 3.5%;
    border-radius: 2rem;
    font-size: 130%;
    font-weight: bolder;
    color: black;
    text-align: justify;
  }
  
