
:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  $color-primary: red;
  $color-secondary:#279e7a;
  $font-color-primary: black;
  $font-color-secondary: white;
  $bg-color:#232323;
  
